icons = retina-sprite-map("retina/*.png")

.add-to-desktop
  sprite(icons, add-to-desktop)
  sprite-background-position(icons, add-to-desktop)

.cards-club
  sprite(icons, cards-club)
  sprite-background-position(icons, cards-club)

.cards-diamond
  sprite(icons, cards-diamond)
  sprite-background-position(icons, cards-diamond)

.cards-heart
  sprite(icons, cards-heart)
  sprite-background-position(icons, cards-heart)

.cards-spade
  sprite(icons, cards-spade)
  sprite-background-position(icons, cards-spade)