sprites = sprite-map("icons/*.png")

.add-to-desktop
  sprite-dimensions(sprites, add-to-desktop)

.cards-club
  sprite-dimensions(sprites, cards-club)

.cards-diamond
  sprite-dimensions(sprites, cards-diamond)

.cards-heart
  sprite-dimensions(sprites, cards-heart)

.cards-spade
  sprite-dimensions(sprites, cards-spade)