sprites = sprite-map("icons/*.png")

.add-to-desktop
  path: sprite-file-path(sprites, add-to-desktop)

.cards-club
  path: sprite-file-path(sprites, cards-club)

.cards-diamond
  path: sprite-file-path(sprites, cards-diamond)

.cards-heart
  path: sprite-file-path(sprites, cards-heart)

.cards-spade
  path: sprite-file-path(sprites, cards-spade)