.add-to-desktop {
  path: 'icons/add-to-desktop.png';
}
.cards-club {
  path: 'icons/cards-club.png';
}
.cards-diamond {
  path: 'icons/cards-diamond.png';
}
.cards-heart {
  path: 'icons/cards-heart.png';
}
.cards-spade {
  path: 'icons/cards-spade.png';
}
